* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #426696;
    font-weight: 600;
    font-size: 2.5rem;
    opacity: 0.8;
  }

h3,
p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h4 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    bottom: 3%;
    left: 10%;
}

.circle2 {
    top: 3%;
    right: 10%;
}

.main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    height: 85vh;
    width: 60%;
    display: flex;
    order: 2;
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
}

.user {
    height: 85vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.profile>img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0%;
    margin: 0%;
}

.profile p {
    font-size: 0.8rem;
}

.links img {
    height: 2rem;
    width: 2rem;
}

.link {
    display: flex;
    margin: 2rem 0rem;
}

.link>h3 {
    padding: 0rem 2rem;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    display: flex;
    margin: 0rem 2rem;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.pro>img {
    height: 5rem;
    width: 6rem;
}

.pro>h3 {
    color: white;
    font-size: 1.3rem;
}

.active {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 4rem;
}

input {
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 2rem;
    padding: 0.2rem;
}

.cards img {
    height: 4rem;
    width: 5rem;
}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    justify-content: space-between;
    margin: 1rem 0rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 0.8rem;
}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    position: absolute;
    background: rgb(236, 236, 236);
    height: 100%;
    width: 100%;
    left: 60%;

}